@model ApplicationCore.Models.CastDetailsModel
<!DOCTYPE html>

<h3 align="center">@Model.Name</h3>
<center><img align = "center" height = "350px" width = "255px" src = "@Model.ProfilePath" /></center>
<br />
<h5 align = "center">Movies</h5>
 <ul class="list-group list-group-flush">
                 @foreach(var movie in @Model.Movies)
                {
                  <li class="list-group-item">@movie.Title</li>
                }
 </ul>

