@model ApplicationCore.Models.MovieDetailsModel

<h5>Receipt</h5>
<hr>
<center>
<img height="300px" width="250px" src = "@Model.PosterUrl" />
<h6>Movie:$nbsp @Model.Title</h6>
<h6>Total Price:$nbsp @Model.Price</h6>
</center>