@model ApplicationCore.Models.PurchaseModel

@{
    ViewData["Title"] = "Purchases";
}
<h4>Purchases</h4>
<hr />
<ul class="list-group list-group-flush">
                         <h6>MovieId: @Model.MovieId</h6>
                         <h6>UserId: @Model.UserId</h6>
                         <h6>Date: @Model.PurchaseDateTime</h6>
                         <h6>Price: @Model.TotalPrice</h6>               
 </ul>